<!-- Individual match stats -->
<div class="match-info">
  <div class="match-info-header">
    <p>Match Id: {{match.matchId}}</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th ng-click="nameClicked()">Summoner Name</th>
        <th ng-click="killsClicked()">Kills</th>
        <th ng-click="deathsClicked()">Deaths</th>
        <th ng-click="assistsClicked()">Assists</th>
        <th ng-click="wardsPlacedClicked()">Wards Placed</th>
        <th ng-click="wardKilledClicked()">Wards Killed</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="participant in match.participants | orderBy: orderProp" class="{{participant.teamColor}}">
          <td> <img class="champ-thumbnail" ng-src="{{participant.championUrl}}">{{participant.summonerName}}</td>
          <td>  {{participant.stats.kills}} </td>
          <td>  {{participant.stats.deaths}}  </td>
          <td>  {{participant.stats.assists}} </td>
          <td>  {{participant.stats.wardsPlaced}} </td>
          <td>  {{participant.stats.wardsKilled}} </td>
      </tr>
    </tbody>
  </table>
<div/>