<div class="search-bar">
  <form name="searchUser">
    <input class="search-bar-text" type="search" placeholder="Summoner to find" ng-model="summonerName"  />
    <input class="match-count" placeholder="Matches to analyze" ng-model="matchCount" />
    <input class="search-bar-botton" type="submit" value="Search" ng-click="summonerSearch()" />
  </form>
</div>
<div>Out of {{matchCount}} matches</div>
<div ng-repeat = "stat in allTeamRelevantStats">{{stat}}: {{allTeamRelevantStatsAggregatedResults[stat] / matchCount}}</div>
<div>WINNING TEAM</div>
<div ng-repeat = "stat in participantRelevantStats">{{stat}}: {{winningParticipantResults[stat] / matchCount}}</div>
<div>LOSING TEAM</div>
<div ng-repeat = "stat in participantRelevantStats">{{stat}}: {{losingParticipantResults[stat] / matchCount}}</div>

<!--<button ng-click="getAllMatches()">All matches</button>-->
<!--<div>Out of {{getAllMatchesResults['matchCount']}} games</div>-->
<!--<div ng-repeat = "stat in trueFalseStats">{{stat}}: {{getAllMatchesResults[stat]}}%</div>-->
<!--<div ng-repeat = "stat in countingStats">{{stat}}: {{getAllMatchesResults[stat]}}</div>-->

