<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="SummonerController">
	<h1>{{webTitle}}</h1>

	<div>{{error}}</div>

	Enter Summoner Name:

	<form name="searchUser">
		<input type="search" placeholder="Summoner to find" ng-model="username"  />
		<input type="submit" value="Search" ng-click="search(username)"/>
	</form> 

		<p>Summoner Name: {{user.name}}</p>
		<p>Summoner Id: {{user.id}}</p>
		<p>Summoner Level: {{user.summonerLevel}}</6>
		<h4>Gold Earning stats for {{checkfile.matches.length}} match(s) played: </h4>
		<li ng-repeat = "match in checkfile.matches">
			{{match.matchDuration}} seconds {{match.participants[0].stats.goldEarned}} gold earned
			<p>- Gold per minute:{{match.participants[0].stats.goldEarned/match.matchDuration*60}}</p>
		</li>
		<p>Total time of matches: {{totalSeconds/60}} minutes</p>
		<p>Total gold earned: {{totalGoldEarned}}</p>
		<p>Average gold per minute for last {{checkfile.matches.length}}: {{totalGoldEarned/totalSeconds*60}}</p>


</body>
	
</html>
