<div class="match-history-content container-fluid">
	<div class="summoner-bar" ng-if="haveResults">
		<h1>Summoner: {{summoner.summonerName}}</h1>

		<h3>Total time of matches: {{totalSeconds/60}} minutes</h3>
		<h3>Total gold earned: {{totalGoldEarned}}</h3>
		<h3>Average gold per minute for last {{checkfile.games.games.length}}: {{totalGoldEarned/totalSeconds*60}}</h3>
		<h4>Stats for last {{checkfile.games.games.count}} match(s) played: </h4>
		<div class="match-history-list">
			<div class="match-history-game" ng-repeat = "match in checkfile.games.games | orderBy: match.gameCreation:reverse">
				<div class="match-history-win-loss">
					<h3 class="green" ng-show="{{match.participants[0].stats.win}}">W</h3>
					<h3 class="red" ng-show="{{!match.participants[0].stats.win}}">L</h3>
				</div>
				<div class="match-history-champion-image">
					<img ng-src="{{match.participants[0].champImgSrc}}" title="{{match.participants[0].champName}}"/>
				</div>
				<div class="match-history-date">
					<div>Date:</div>
					<div>{{match.gameCreation | date:'medium'}}</div>
				</div>
				<div>{{match.gameDuration}} seconds {{match.participants[0].stats.goldEarned}} gold earned</div>
				<div>
					<div>Lane:</div>
					<div>{{match.participants[0].timeline.lane}}</div>
				</div>
				<div>Gold per minute: <a class="gold">{{match.participants[0].stats.goldEarned/match.gameDuration*60}} </a></div>
				<div>Kills: <a class="green">{{match.participants[0].stats.kills}}</a>Deaths: <a class="red">{{match.participants[0].stats.deaths}}</a> Assists <a class="blue">{{match.participants[0].stats.assists}}</a></div>
				<div> Wards Placed: {{match.participants[0].stats.wardsPlaced}} Wards Killed: {{match.participants[0].stats.wardsKilled}}</div>
				<button ng-click="goTo(match)">More stats for this match</button>
			</div>
		</div>
	</div>
</div>