.match-history-game {
	border: 1px solid black;
	margin-bottom: 5px;
	background-color: #003729;
	color: #6FA698;
	display: flex;
	align-items: center;
}

.red {
	color: red;
}

.green {
	color: green;
}

a.gold {
	color: gold;
}

.match-history-champion-image {
	height: 100%;
  width: auto;
}

.match-history-win-loss {
	padding: 20px;
}