.listItem {
	border: 1px solid black;
	margin-bottom: 5px;
	background-color: #003729;
	color: #6FA698;
}

a.red {
	color: red;
}

a.green {
	color: green;
}

a.gold {
	color: gold;
}

img.match-history-champion-image {}