
	<div class="container-fluid">
		<h1>League of Legends Match History</h1>
		<div class="title">
			<h1>{{webTitle}}</h1>
		</div>

		<div class="">{{errorMessage}}</div>
		<h1>
			<span class="label label-warning">Enter Summoner Name:</span>
		</h1>

		<form name="searchUser">
			<input type="search" placeholder="Summoner to find" ng-model="username"  />
			<input type="submit" value="Search" ng-click="summonerSearch(username)" />
		</form> 
		<div class="" ng-if="haveResults">
			<p>Summoner Name: {{summoner.name}}</p>
			<p>Summoner Id: {{summoner.id}}</p>
			<p>Summoner Level: {{summoner.summonerLevel}}</6>
			<h4>Gold Earning stats for {{checkfile.matches.length}} match(s) played: </h4>
			<div class="list">
				<div class="listItem" ng-repeat = "match in checkfile.matches | orderBy: match.matchCreation">
					<p>
						<h3 ng-show="{{match.participants[0].stats.winner}}">Victory with {{match.participants[0].champName}}!</h3>
						<h3 ng-show="{{!match.participants[0].stats.winner}}">Loss with {{match.participants[0].champName}}.</h3>
						<img ng-src="{{match.participants[0].champImgSrc}}" title="{{match.participants[0].champName}}">
						<div> Match Date: {{match.matchCreation | date:'medium'}}</div>
						<div> Champ Id: {{match.participants[0].championId}}</div>
						<div> Champ Name: {{match.participants[0].champName}}</div>
						<div> {{match.matchDuration}} seconds {{match.participants[0].stats.goldEarned}} gold earned</div>
						<div> Lane Position: {{match.participants[0].timeline.lane}} Role: {{match.participants[0].timeline.role}}</div>
						<div> Gold per minute:{{match.participants[0].stats.goldEarned/match.matchDuration*60}}</div>
						<div> Kills: {{match.participants[0].stats.kills}} Deaths: {{match.participants[0].stats.deaths}} Assists {{match.participants[0].stats.assists}}</div>
						<div> Wards Placed: {{match.participants[0].stats.wardsPlaced}} Wards Killed: {{match.participants[0].stats.wardsKilled}}</div>
						<button ng-click="goTo(match)">More stats for this match</button>
					</p>
				</div>
			</div>
			<p>Total time of matches: {{totalSeconds/60}} minutes</p>
			<p>Total gold earned: {{totalGoldEarned}}</p>
			<p>Average gold per minute for last {{checkfile.matches.length}}: {{totalGoldEarned/totalSeconds*60}}</p>
		</div>
	</div>