img.championImage {
   /*max-width: 50px;
   max-height: 50px;*/
}

.listItem {
	border: 1px solid black;
	margin-bottom: 5px;
	background-color: #003729;
	color: #6FA698;
}

.summoner-bar {
	text-align: center;
}

.container-fluid {
	text-align: center;
}

input.search-bar-text {
	margin-bottom: 0px;
}


body {
	background-color: #256F5C;
}